Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global-changed, iaas-changed, platforms-changed

formatting
  namer-platforms/main.tf
Due: platforms-changed

give dev agent its own namespace
  namer-platforms/main.tf
Due: platforms-changed

use 1.3.0 CCI Release Agent supporting unique naming
  namer-platforms/main.tf
Due: platforms-changed

use 1.3.1 CCI Release Agent supporting unique naming
  namer-platforms/main.tf
Due: platforms-changed

break CCI Release Agent into Dev and Prod (#21)
  namer-platforms/main.tf
  namer-platforms/variables.tf
Due: platforms-changed

create dev namespace for dr demo
  namer-platforms/main.tf
Due: platforms-changed

appsapces 3.2.0 and vault config 1.11.0
  namer-platforms/main.tf
Due: platforms-changed

rev appsapces for fix (3.2.1)
  namer-platforms/main.tf
Due: platforms-changed

Dr demo dev (#22)
  namer-platforms/main.tf
Due: platforms-changed

remove 2 workflows using single job-filtered flow
  .circleci/continue-config.yml
Due: none

typo in parameter (cli did not catch this)
  .circleci/continue-config.yml
Due: none

downstream layers run also if upstream layers run.
  .circleci/continue-config.yml
Due: none

[skip ci] rename jobs to remve duplicate region info
  .circleci/continue-config.yml
Due: none

formatting change to eks layer to validate logic
  namer-eks/main.tf
Due: iaas-changed

[skip ci] use same branch for revision comparison
  .circleci/config.yml
Due: none

add dumb no-op jobs to workflow to allow conditional requires
  .circleci/continue-config.yml
Due: none

always run do nothings [skip ci]
  .circleci/continue-config.yml
Due: none

formatting change to platform layer to validate logic
  namer-platforms/main.tf
Due: platforms-changed

remove 2 workflows using single job-filtered flow (#23)
  .circleci/config.yml
  .circleci/continue-config.yml
  namer-eks/main.tf
  namer-platforms/main.tf
Due: iaas-changed, platforms-changed

can placeholders be optional
  .circleci/continue-config.yml
Due: none

can placeholders be optional on iac layer
  namer-eks/main.tf
Due: iaas-changed

can placeholders be optional on platform layer
  namer-platforms/main.tf
Due: platforms-changed

Only use no-op jobs if that layer's workful job is not included (#24) [skip ci]
  .circleci/continue-config.yml
  namer-eks/main.tf
  namer-platforms/main.tf
Due: iaas-changed, platforms-changed

Adding in authntik
  namer-platforms/main.tf
Due: platforms-changed

Fixing formatting
  namer-platforms/main.tf
Due: platforms-changed

use istio 8.1.0 with new SSO domain and cert. only build authentik module in namer
  namer-eks/main.tf
  namer-platforms/main.tf
Due: iaas-changed, platforms-changed

istio 8.1.1 move sso to primary domain
  namer-eks/main.tf
Due: iaas-changed

Authentik SSO: rev istio with new gateway, fix VS to use right domain and new gw
  namer-eks/main.tf
  namer-platforms/data.tf
  namer-platforms/main.tf
Due: iaas-changed, platforms-changed

SSO: rev istio 8.1.2 new cert for sso only
  namer-eks/main.tf
Due: iaas-changed

authentik is up, use tags
  namer-platforms/main.tf
Due: platforms-changed

Authentik (#25)
  namer-eks/main.tf
  namer-platforms/data.tf
  namer-platforms/main.tf
Due: iaas-changed, platforms-changed

authentik 1.0.1 adds config map with cusotm settings
  namer-platforms/main.tf
Due: platforms-changed

authentik 1.0.2
  namer-platforms/main.tf
Due: platforms-changed

Authentikconfig (#26)
  namer-platforms/main.tf
Due: platforms-changed

authentik 1.0.3
  namer-platforms/main.tf
Due: platforms-changed

authentik 1.0.4
  namer-platforms/main.tf
Due: platforms-changed

Path conditions:
  global-changed: any of: global/.*
  iaas-changed: any of: namer-eks/.*
  platforms-changed: any of: namer-platforms/.*
