Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global-changed, iaas-changed, platforms-changed

.circleci/config.yml:

version: 2.1

setup: << pipeline.parameters.run-setup-workflow >>

orbs:
  continuation: circleci/continuation@1.0.0
  path-filtering: circleci/path-filtering@0.1.7
  terraform: circleci/terraform@3.2.1

parameters:
  run-setup-workflow:
    type: boolean
    default: true

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            global/.* global-changed true
            namer-eks/.* iaas-changed true
            namer-platforms/.* platforms-changed true

istio 5, try to fkix kiali access to sitio config
  namer-eks/main.tf
Due: iaas-changed

istio 5, try to fkix kiali access to sitio config[semver:patch]
  namer-eks/main.tf
Due: iaas-changed

provide alt domain to modules
  global/main.tf
  global/outputs.tf
  global/terraform.tfvars
  global/variables.tf
  namer-eks/main.tf
Due: global-changed, iaas-changed

listen for alt domain revs DNS, Istio and GLobal modules.
  namer-eks/main.tf
Due: iaas-changed

remove jager
  namer-eks/main.tf
Due: iaas-changed

tf fmt
  namer-eks/main.tf
Due: iaas-changed

trigger global (why didnt it on change)
  .circleci/config.yml
Due: none

remove jager
  global/variables.tf
Due: global-changed

remove jager
  global/outputs.tf
Due: global-changed

remove jager
  global/main.tf
Due: global-changed

fix alt issuer
  namer-eks/main.tf
Due: iaas-changed

declare region root and fieldguide global for alt domain
  namer-eks/main.tf
Due: iaas-changed

f.labs.com
  namer-eks/main.tf
Due: iaas-changed

labs migration
  namer-eks/main.tf
Due: iaas-changed

descope alt domain to field guide for cert fun
  namer-eks/main.tf
Due: iaas-changed

use new FE team role
  .circleci/continue-config.yml
Due: none

use new FE team role (#18)
  .circleci/continue-config.yml
Due: none

latesrt istio rev
  namer-eks/main.tf
Due: iaas-changed

latesrt istio rev (#19) 8.0.1
  namer-eks/main.tf
Due: iaas-changed

istio 8.0.2 adds mising gateway
  namer-eks/main.tf
Due: iaas-changed

missing ssl cert for root
  namer-eks/main.tf
Due: iaas-changed

pickup istio 8.0.3
  namer-eks/main.tf
Due: iaas-changed

istio gateway 8.0.7
  namer-eks/main.tf
Due: iaas-changed

istio gateway 8.0.8
  namer-eks/main.tf
Due: iaas-changed

istio gateway 8.0.9
  namer-eks/main.tf
Due: iaas-changed

Add Rootlanding (#20)
  namer-eks/main.tf
Due: iaas-changed

break CCI Release Agent into Dev and Prod
  namer-platforms/main.tf
  namer-platforms/variables.tf
Due: platforms-changed

fix token var passed to dev
  namer-platforms/main.tf
Due: platforms-changed
