Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global, namer, emea, japac, namer-platforms, emea-platforms, japac-platforms

use cases to cover
  README.md
Due: none

base line use case Global -> Namer -> Namer-Platforms
  .circleci/config.yml
  .circleci/continue-config.yml
  .circleci/non-testing.yml
Due: none

namer eks use case Namer -> Namer-Platforms
  .circleci/config.yml
  .circleci/non-testing.yml
Due: none

namer eks use case Namer -> Namer-Platforms testing with param
  .circleci/config.yml
Due: none

base line use case Global -> Namer -> Namer-Platforms from continue
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

base line use case Global -> Namer -> Namer-Platforms from continue
  .circleci/config.yml
Due: none

use case -> Namer-Platforms testing from continue
  .circleci/continue-config.yml
Due: none

introduce path filtering
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

introduce path filtering
  .circleci/config.yml
Due: none

trigger global with path filtering
  global/global.txt
Due: global

trigger platforms with pf
  namer-platforms/namer-platforms.txt
Due: namer-platforms

trigger global with namer+emea
  .circleci/continue-config.yml
  global/global.txt
Due: global

trigger global with namer+emea
  .circleci/continue-config.yml
  emea-platforms/emea-platforms.txt
  namer-platforms/namer-platforms.txt
Due: namer-platforms, emea-platforms

trigger eks layer emea + namer
  emea/emea.txt
  namer/namer.txt
Due: namer, emea

trigger eks layer emea + namer
  .circleci/config.yml
  emea/emea.txt
  namer/namer.txt
Due: namer, emea

trigger eks layer emea + namer
  .circleci/config.yml
  emea-eks/emea.txt
  namer-eks/namer.txt
Due: none

trigger global layer emea + namer + japac
  .circleci/continue-config.yml
  emea-eks/emea.txt
  global/global.txt
  japac-eks/japac.txt
  namer-eks/namer.txt
Due: global

trigger eks layer emea + namer + japac
  emea-eks/emea.txt
  japac-eks/japac.txt
  namer-eks/namer.txt
Due: none

trigger platform layer emea + namer + japac
  emea-platforms/emea-platforms.txt
  japac-platforms/japac-platforms.txt
  namer-platforms/namer-platforms.txt
Due: namer-platforms, emea-platforms, japac-platforms

clean files
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

testing child/parent execution
  global/global.txt
  japac-eks/japac.txt
Due: global

delete unneeded files for pr
  .circleci/non-testing.yml
Due: none

add baseline for global and execute up to plan
  .gitignore
  global/README.md
  global/data.tf
  global/main.tf
  global/outputs.tf
  global/providers.tf
  global/templates/oidc_assume_role.json.tpl
  global/templates/oidc_role_policy.json.tpl
  global/terraform.tfvars
  global/variables.tf
Due: global

add baseline for global and execute up to plan
  .circleci/continue-config.yml
  global/global.txt
Due: global

update orb versions
  .circleci/continue-config.yml
  global/global.txt
Due: global

trigger global with updates
  .circleci/continue-config.yml
  global/global.txt
Due: global

trigger global with updates
  .circleci/config.yml
  .circleci/continue-config.yml
  global/global.txt
Due: global

trigger global with updates
  global/global.txt
Due: global

trigger global with updates
  global/global.txt
  global/templates/oidc_role_policy.json.tpl
Due: global

trigger global with updates
  global/templates/oidc_role_policy.json.tpl
Due: global

trigger japac eks layer to plan
  .circleci/continue-config.yml
  japac-eks/data.tf
  japac-eks/japac.txt
  japac-eks/main.tf
  japac-eks/outputs.tf
  japac-eks/providers.tf
  japac-eks/versions.tf
Due: none

trigger japac eks layer to plan
  .circleci/continue-config.yml
  global/global.txt
Due: global

Path conditions:
  global: any of: global/.*
  namer: any of: namer/.*
  emea: any of: emea/.*
  japac: any of: japac/.*
  namer-platforms: any of: namer-platforms/.*
  emea-platforms: any of: emea-platforms/.*
  japac-platforms: any of: japac-platforms/.*
