Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global, namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

istio sidecar limit increase 2.3.0
  namer-eks/main.tf
Due: namer-eks

use new domain
  .circleci/continue-config.yml
  global/main.tf
Due: global

get tricky with r53 xzzone import
  global/main.tf
  global/variables.tf
Due: global

get tricky with r53 xzzone import
  global/main.tf
Due: global

auto import domain zone and name from ID
  global/main.tf
  global/outputs.tf
  global/variables.tf
Due: global

ony output name not record
  global/outputs.tf
Due: global

forking doc
  FORKING.md
Due: none

allow local CLI access for additional IAM users
  global/templates/oidc_assume_role.json.tpl
Due: global

allow local CLI access for additional IAM users
  global/main.tf
  global/templates/oidc_assume_role.json.tpl
Due: global

tweak assume
  global/templates/oidc_assume_role.json.tpl
Due: global

variabalize usernames
  global/data.tf
  global/main.tf
  global/templates/README.md
  global/templates/oidc_assume_role.json.tpl
  global/terraform.tfvars
  global/variables.tf
Due: global

omit SSO for non sso accounts
  global/main.tf
  global/templates/oidc_assume_role.json.tpl
  global/variables.tf
Due: global

login docs [skipci] [skip ci]
  global/templates/README.md
Due: global

more docs, less hardcoding'
  global/outputs.tf
  global/templates/README.md
  namer-eks/main.tf
  namer-eks/versions.tf
Due: global, namer-eks

doh, use existing output
  global/outputs.tf
  namer-eks/main.tf
Due: global, namer-eks

more parameters[skipci] [skip ci]
  .circleci/continue-config.yml
  README.md
  global/main.tf
  global/templates/operator_assume_role.json.tpl
  global/templates/operator_role_policy.json.tpl
  global/templates/pipeline_assume_role.json.tpl
  global/templates/pipeline_role_policy.json.tpl
  global/variables.tf
Due: global

global account using 2 roles and all variables [semver:major]
  .circleci/continue-config.yml
  README.md
  global/outputs.tf
  global/providers.tf
  global/templates/pipeline_role_policy.json.tpl
  global/terraform.tfvars
  namer-eks/data.tf
  namer-eks/main.tf
  namer-eks/providers.tf
  namer-platforms/data.tf
  namer-platforms/providers.tf
Due: global, namer-eks, namer-platforms

locked myself out
  global/terraform.tfvars
Due: global

locked myself out
  .circleci/continue-config.yml
Due: none

remove branch lock?
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

attempt to import iam role
  global/main.tf
  global/templates/README.md
Due: global

iam import and protection
  .circleci/continue-config.yml
  global/main.tf
  global/terraform.tfvars
Due: global

Updated vault config for ecap
  namer-platforms/main.tf
Due: namer-platforms

iam import and protection
  global/main.tf
Due: global

iam import and protection
  global/templates/operator_assume_role.json.tpl
  global/templates/pipeline_assume_role.json.tpl
Due: global

Update main.tf
  namer-platforms/main.tf
Due: namer-platforms

allow operators TF state
  global/templates/operator_role_policy.json.tpl
Due: global

try importing new r53
  .circleci/continue-config.yml
  global/terraform.tfvars
Due: global

Updated patch for vault config
  namer-platforms/main.tf
Due: namer-platforms

Updated the token policies
  namer-platforms/main.tf
Due: namer-platforms

global and eks changes running locally woith BTG on
  global/main.tf
Due: global

Adding in new cba namespace
  namer-platforms/main.tf
Due: namer-platforms

Update continue-config.yml
  .circleci/continue-config.yml
Due: none

dont auto import r53 (was deleting it..)
  FORKING.md
  global/main.tf
  global/terraform.tfvars
  global/variables.tf
Due: global

DOCS
  FORKING.md
Due: none

shorten config.ym
  .circleci/continue-config.yml
Due: none

Path conditions:
  global: any of: global/.*
  namer-eks: any of: namer-eks/.*
  emea-eks: any of: emea-eks/.*
  japac-eks: any of: japac-eks/.*
  namer-platforms: any of: namer-platforms/.*
  emea-platforms: any of: emea-platforms/.*
  japac-platforms: any of: japac-platforms/.*
