Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global, namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

Updating OIDC
  .circleci/continue-config.yml
Due: none

updating the s3 bucket to capital one
  global/providers.tf
Due: global

commenting out kuma
  global/main.tf
Due: global

updated terraform
  global/main.tf
Due: global

updated output.tf to comment out kuma
  global/outputs.tf
Due: global

updating the domain
  global/main.tf
Due: global

pushing unsaved changes
  global/providers.tf
Due: global

fixing the merge errors
  global/main.tf
  global/variables.tf
Due: global

fixing errors
  global/main.tf
Due: global

Update main.tf - remove import
  global/main.tf
Due: global

create s3 bucket before running eks
  .circleci/continue-config.yml
  global/main.tf
  global/s3.tf
Due: global

fix depends_on format
  global/main.tf
Due: global

terraform fmt changes
  global/main.tf
Due: global

import existing bucket
  global/s3.tf
Due: global

use unique bucket name and pin it to us-east-1
  global/s3.tf
Due: global

remove regional_name
  global/s3.tf
Due: global

terraform fmt updates
  global/s3.tf
Due: global

Updating bucket name
  global/s3.tf
Due: global

removing bucket import
  global/s3.tf
Due: global

terraform fmt
  global/s3.tf
Due: global

- Removing s3.tf
  global/s3.tf
Due: global

removing imports
  global/main.tf
Due: global

updating region to us-east-1
  global/templates/oidc_role_policy.json.tpl
Due: global

formatting
  global/main.tf
Due: global

updating role
  global/main.tf
Due: global

updated bucket
  .circleci/continue-config.yml
  README.md
  emea-eks/data.tf
  emea-eks/providers.tf
  emea-platforms/data.tf
  emea-platforms/providers.tf
  namer-eks/data.tf
  namer-eks/providers.tf
  namer-platforms/data.tf
  namer-platforms/providers.tf
Due: namer-eks, emea-eks, namer-platforms, emea-platforms

changed bucket names
  namer-eks/data.tf
  namer-platforms/data.tf
  namer-platforms/providers.tf
Due: namer-eks, namer-platforms

adding eks assign role permissions to policy
  global/templates/oidc_role_policy.json.tpl
Due: global

Update oidc_role_policy.json.tpl: add iam:CreateServiceLinkedRole
  global/templates/oidc_role_policy.json.tpl
Due: global

Update continue-config.yml - force us-east-1
  .circleci/continue-config.yml
Due: none

remove dead clusters
  emea-eks/data.tf
  emea-eks/main.tf
  emea-eks/outputs.tf
  emea-eks/providers.tf
  emea-eks/versions.tf
  emea-platforms/data.tf
  emea-platforms/main.tf
  emea-platforms/outputs.tf
  emea-platforms/providers.tf
  emea-platforms/variables.tf
  emea-platforms/versions.tf
  japac-platforms/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks, emea-platforms, japac-platforms

pass correct arn for eks roles
  namer-eks/main.tf
Due: namer-eks

Updates to main.tf
  namer-platforms/main.tf
Due: namer-platforms

updating path for cluster
  global/providers.tf
  namer-eks/data.tf
  namer-platforms/data.tf
  namer-platforms/providers.tf
Due: global, namer-eks, namer-platforms

nexus config 0.4.0 adds cera-deployer
  namer-platforms/main.tf
Due: namer-platforms

Update main.tf
  namer-platforms/main.tf
Due: namer-platforms

Reverting the version
  namer-platforms/main.tf
Due: namer-platforms

bump nexus to larger resources
  namer-platforms/main.tf
Due: namer-platforms

grr nexus, lift jvm limit
  namer-platforms/main.tf
Due: namer-platforms

Path conditions:
  global: any of: global/.*
  namer-eks: any of: namer-eks/.*
  emea-eks: any of: emea-eks/.*
  japac-eks: any of: japac-eks/.*
  namer-platforms: any of: namer-platforms/.*
  emea-platforms: any of: emea-platforms/.*
  japac-platforms: any of: japac-platforms/.*
