Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global, namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

.circleci/config.yml:

version: 2.1

setup: << pipeline.parameters.run-setup-workflow >>

orbs:
  continuation: circleci/continuation@1.0.0
  path-filtering: circleci/path-filtering@0.1.7
  terraform: circleci/terraform@3.2.1

parameters:
  run-setup-workflow:
    type: boolean
    default: true

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: SE309-setup-POC
          config-path: .circleci/continue-config.yml
          mapping: |
            global/.* global true
            namer-eks/.* namer-eks true
            emea-eks/.* emea-eks true
            japac-eks/.* japac-eks true
            namer-platforms/.* namer-platforms true
            emea-platforms/.* emea-platforms true
            japac-platforms/.* japac-platforms true

tfmt
  emea-eks/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks

temp istio branch
  namer-eks/main.tf
Due: namer-eks

storage clsass
  namer-eks/main.tf
Due: namer-eks

drop ebs storage for now
  namer-eks/main.tf
Due: namer-eks

eks 2.0.2 with ebs fix
  namer-eks/main.tf
Due: namer-eks

allow ec2:ModifyLaunchTemplate
  global/templates/oidc_role_policy.json.tpl
Due: global

try alterante sotrage class proivider
  namer-eks/main.tf
Due: namer-eks

lock versions for working storage class and ebs permissions
  namer-eks/main.tf
Due: namer-eks

try ssl fix in namer
  emea-eks/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks

isito 2.1.1 with ssl fix for new domain name
  namer-eks/main.tf
Due: namer-eks

try new vault unseal
  emea-platforms/main.tf
  namer-eks/main.tf
  namer-platforms/main.tf
Due: namer-eks, namer-platforms, emea-platforms

iterate on vault init
  namer-eks/main.tf
Due: namer-eks

pin namer and catchup emea
  emea-eks/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks

tf fmt[skip ci]
  emea-eks/main.tf
Due: emea-eks

nexus wait on vault
  namer-platforms/main.tf
Due: namer-platforms

tf fmt
  namer-platforms/main.tf
Due: namer-platforms

push tweaked nexus config order to nonexistent nexus ns
  namer-platforms/main.tf
Due: namer-platforms

nexus password fix
  namer-platforms/main.tf
Due: namer-platforms

fix istio routing and add nexus setup delay
  namer-eks/main.tf
  namer-platforms/main.tf
Due: namer-eks, namer-platforms

bump nexus for even longer wait
  namer-platforms/main.tf
Due: namer-platforms

pin namer versions for nexus and config
  namer-platforms/main.tf
Due: namer-platforms

fix nexus roovy script repalce
  namer-platforms/main.tf
Due: namer-platforms

patch istio traffic routing 2.1.4
  namer-eks/main.tf
Due: namer-eks

use rev'd istio with fixed kiali config
  emea-eks/main.tf
Due: emea-eks

use rev'd istio with fixed kiali config
  namer-eks/main.tf
Due: namer-eks

use new context for alt release token
  .circleci/continue-config.yml
Due: none

release agent 1.2.1
  namer-platforms/main.tf
Due: namer-platforms

context typo
  .circleci/continue-config.yml
Due: none

emea eks ran loclaly fail prometheus sc issue
  emea-eks/main.tf
  emea-platforms/main.tf
Due: emea-eks, emea-platforms

default sotrange class
  emea-eks/main.tf
Due: emea-eks

rev namer to catch up to emea
  namer-eks/main.tf
Due: namer-eks

add new cba namespace and policy
  emea-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms

tf versino conflict in aws provider
  emea-eks/versions.tf
  namer-eks/versions.tf
Due: namer-eks, emea-eks

reving eks module to 3.0 for provider conflicts
  emea-eks/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks

pin EKS addons on current version to avoid more surprises
  emea-eks/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks

appspaces 1.6.0: do not delete namespaces
  emea-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms

add nexus config 0.4.0 for new deployer vault path FE-46
  emea-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms

changing the role arn to cap1
  .circleci/continue-config.yml
Due: none

updating for cap1 aws account
  .circleci/continue-config.yml
  global/main.tf
  global/variables.tf
Due: global
