Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global, namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

add ec2:DescribeAddressesAttribute to policy
  global/templates/oidc_role_policy.json.tpl
Due: global

Kuma 1.1.0 to address compat issue in FE-28
  global/main.tf
Due: global

add iam:UpdateOpenIDConnectProviderThumbprint to role for FE-28
  global/templates/oidc_role_policy.json.tpl
Due: global

try storage fix in japac
  japac-eks/main.tf
Due: japac-eks

use tagged istio in japac and add to emea
  emea-eks/main.tf
  japac-eks/main.tf
Due: emea-eks, japac-eks

FE-28: namer's turn
  namer-eks/main.tf
Due: namer-eks

FE-28 - Increase SSL Cert Renewal to 30d advance (#10)
  emea-eks/main.tf
  global/main.tf
  global/templates/oidc_role_policy.json.tpl
  japac-eks/main.tf
  namer-eks/main.tf
Due: global, namer-eks, emea-eks, japac-eks

rev nexus config module to 0.2.0
  emea-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms

rev japac nexus config module to 0.2.0
  japac-platforms/main.tf
Due: japac-platforms

update vault config
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

update vault config (#11)
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

revert back to 1.7.0
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

test emea with new vault config
  emea-platforms/main.tf
Due: emea-platforms

add new path as base jwt already in use
  emea-platforms/main.tf
Due: emea-platforms

add new path as base jwt already in use
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, japac-platforms

Add permissions to IAM role [skip ci]
  global/templates/oidc_role_policy.json.tpl
Due: global

AWS Tagging - deploy new cluster tag to EMEA
  emea-eks/main.tf
Due: emea-eks

AWS tagging: add ec2 permissions
  global/templates/oidc_role_policy.json.tpl
Due: global

AWS Tagging CCIDevs: NAMER EKS
  .circleci/config.yml
  namer-eks/main.tf
Due: namer-eks

AWS Tagging CCIDevs: remove japac [skip ci]
  .circleci/continue-config.yml
Due: none

replaced lots of SE with FE and new AWS acocunt
  .circleci/continue-config.yml
  README.md
  emea-eks/main.tf
  emea-eks/outputs.tf
  emea-eks/providers.tf
  emea-platforms/main.tf
  emea-platforms/outputs.tf
  emea-platforms/providers.tf
  global/README.md
  global/data.tf
  global/main.tf
  global/outputs.tf
  global/providers.tf
  global/terraform.tfvars
  global/variables.tf
  japac-eks/main.tf
  japac-eks/outputs.tf
  japac-eks/providers.tf
  japac-platforms/main.tf
  japac-platforms/providers.tf
  namer-eks/main.tf
  namer-eks/outputs.tf
  namer-eks/providers.tf
  namer-platforms/main.tf
  namer-platforms/outputs.tf
  namer-platforms/providers.tf
Due: global, namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

i dunno
  .circleci/continue-config.yml
  global/variables.tf
Due: global

tf fmt
  global/providers.tf
  global/variables.tf
Due: global

comment kuma
  global/outputs.tf
Due: global

made role locally and OIDC should be able to assume it now
  .circleci/continue-config.yml
  global/providers.tf
  global/variables.tf
Due: global

fix policy assumption to drop seed
  global/variables.tf
Due: global

fix tf state for clusters and rev to 1.30
  .circleci/config.yml
  .circleci/continue-config.yml
  emea-eks/data.tf
  emea-eks/main.tf
  emea-eks/providers.tf
  emea-platforms/data.tf
  emea-platforms/providers.tf
  japac-eks/data.tf
  japac-eks/main.tf
  japac-eks/outputs.tf
  japac-eks/providers.tf
  japac-eks/versions.tf
  japac-platforms/README.md
  japac-platforms/data.tf
  japac-platforms/main.tf
  japac-platforms/outputs.tf
  japac-platforms/providers.tf
  japac-platforms/variables.tf
  japac-platforms/versions.tf
  namer-eks/data.tf
  namer-eks/main.tf
  namer-eks/providers.tf
  namer-platforms/data.tf
  namer-platforms/providers.tf
Due: namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

update s3 path
  emea-eks/data.tf
  emea-eks/providers.tf
  emea-platforms/data.tf
  emea-platforms/providers.tf
  namer-eks/data.tf
  namer-eks/providers.tf
  namer-platforms/data.tf
  namer-platforms/providers.tf
Due: namer-eks, emea-eks, namer-platforms, emea-platforms

update to latest vault module config
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

Update vault config (#12)
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

Update vault config (#12)
  emea-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms

Update main.tf - bump cera-module-eks version
  namer-eks/main.tf
Due: namer-eks

versions bump with terraform fmt
  emea-eks/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks

Provide new root_domain_zone_id var [skip ci]
  namer-eks/main.tf
Due: namer-eks

rev istio to v2 passing zone_id
  emea-eks/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks

change source of root zone id
  emea-eks/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks

public cluster
  emea-eks/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks

Path conditions:
  global: any of: global/.*
  namer-eks: any of: namer-eks/.*
  emea-eks: any of: emea-eks/.*
  japac-eks: any of: japac-eks/.*
  namer-platforms: any of: namer-platforms/.*
  emea-platforms: any of: emea-platforms/.*
  japac-platforms: any of: japac-platforms/.*
