Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global, namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

.circleci/config.yml:

version: 2.1

setup: << pipeline.parameters.run-setup-workflow >>

orbs:
  continuation: circleci/continuation@1.0.0
  path-filtering: circleci/path-filtering@0.1.7
  terraform: circleci/terraform@3.2.1

parameters:
  run-setup-workflow:
    type: boolean
    default: true

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: SE309-setup-POC
          config-path: .circleci/continue-config.yml
          mapping: |
            global/.* global true
            namer-eks/.* namer-eks true
            emea-eks/.* emea-eks true
            japac-eks/.* japac-eks true
            namer-platforms/.* namer-platforms true
            emea-platforms/.* emea-platforms true
            japac-platforms/.* japac-platforms true

trigger plan for namer eks
  .circleci/continue-config.yml
  namer-eks/data.tf
  namer-eks/main.tf
  namer-eks/outputs.tf
  namer-eks/providers.tf
  namer-eks/versions.tf
Due: namer-eks

trigger plan for namer eks
  .circleci/continue-config.yml
  namer-eks/namer.txt
Due: namer-eks

trigger platform layer for namer
  .circleci/continue-config.yml
Due: none

trigger platform layer for namer
  .circleci/continue-config.yml
  namer-platforms/data.tf
  namer-platforms/main.tf
  namer-platforms/outputs.tf
  namer-platforms/providers.tf
  namer-platforms/variables.tf
  namer-platforms/versions.tf
Due: namer-platforms

trigger eks namer on plan
  namer-platforms/namer-platforms.txt
Due: namer-platforms

trigger eks namer on plan
  namer-eks/namer.txt
Due: namer-eks

trigger eks namer with apply
  .circleci/continue-config.yml
  namer-eks/namer.txt
Due: namer-eks

trigger test namer platforms
  .circleci/continue-config.yml
  namer-platforms/namer-platforms.txt
Due: namer-platforms

trigger test global
  .circleci/continue-config.yml
  global/global.txt
Due: global

test emea platforms
  .circleci/continue-config.yml
  emea-platforms/emea-platforms.txt
Due: emea-platforms

test emea eks
  emea-eks/emea.txt
Due: emea-eks

add baseline readme
  .img/circleci_logo.png
  .img/tree.png
  README.md
Due: none

clean readme
  README.md
Due: none

add layers and workflows to readme
  README.md
Due: none

add header
  README.md
Due: none

trigger global with context in anchored command
  .circleci/continue-config.yml
  global/global.txt
Due: global

PR Updates
  .circleci/continue-config.yml
  emea-eks/emea.txt
  emea-platforms/emea-platforms.txt
  global/global.txt
  japac-eks/japac.txt
  japac-platforms/japac-platforms.txt
  namer-eks/namer.txt
  namer-platforms/namer-platforms.txt
Due: global, namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

sync latest versions across regions
  emea-eks/main.tf
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-eks/main.tf
  namer-platforms/main.tf
Due: namer-eks, emea-eks, namer-platforms, emea-platforms, japac-platforms

remove unneeded context
  .circleci/continue-config.yml
  global/main.tf
Due: global

rev cci chart version for japac
  japac-platforms/main.tf
Due: japac-platforms

add regional contexts
  .circleci/continue-config.yml
  namer-platforms/main.tf
Due: namer-platforms

add regional contexts for JAPAC + EMEA
  emea-platforms/main.tf
  japac-platforms/providers.tf
Due: emea-platforms, japac-platforms

add regional contexts for JAPAC + EMEA
  emea-platforms/main.tf
Due: emea-platforms

add dr-demo ns to agent in all clusters
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

tf fmt
  emea-platforms/main.tf
Due: emea-platforms

update base
  .circleci/config.yml
Due: none

rev istio to 1.3.0 for faster envoy collection
  emea-eks/main.tf
  japac-eks/main.tf
  namer-eks/main.tf
Due: namer-eks, emea-eks, japac-eks

istio 1.3.1 in NAmer to adddress prometheus out of disk
  namer-eks/main.tf
Due: namer-eks

try updated istio 1.3.1 with expandable gp2 for japac
  japac-eks/main.tf
Due: japac-eks

rev emea to istio 1.3.1
  emea-eks/main.tf
Due: emea-eks

update to the lastest version of appspaces
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

update to the latest version of vault config
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

Update NAmer Platform/main.tf - cci-agent to 0.0.6
  namer-platforms/main.tf
Due: namer-platforms

Update EMEA main.tf - cci-agent 0.0.6
  emea-platforms/main.tf
Due: emea-platforms

Update JAPAC PLatform main.tf - cci-agent 0.0.6
  japac-platforms/main.tf
Due: japac-platforms

bump namer platform to allow nexus publish
  namer-platforms/main.tf
Due: namer-platforms

NAMER: Vault-Config: add new backend for Labs org
  namer-platforms/main.tf
Due: namer-platforms

Updating vault module for EMEA to 1.5.0 to deploy new GHA actions ODIC creds/roles
  emea-platforms/main.tf
Due: emea-platforms
