Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global, namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

trigger japac eks layer to plan
  japac-eks/japac.txt
  japac-eks/providers.tf
Due: japac-eks

try japac platforms
  .circleci/continue-config.yml
  japac-eks/providers.tf
  japac-platforms/japac-platforms.txt
Due: japac-eks, japac-platforms

try japac platforms + push code
  japac-platforms/README.md
  japac-platforms/data.tf
  japac-platforms/main.tf
  japac-platforms/outputs.tf
  japac-platforms/providers.tf
  japac-platforms/variables.tf
  japac-platforms/versions.tf
Due: japac-platforms

with nexus password set
  .circleci/config.yml
  japac-platforms/japac-platforms.txt
Due: japac-platforms

trigger with command
  .circleci/continue-config.yml
  global/global.txt
Due: global

trigger with command + old orb version
  .circleci/continue-config.yml
Due: none

trigger with command + old orb version
  global/global.txt
Due: global

trigger with command + old orb version
  .circleci/continue-config.yml
  global/global.txt
Due: global

migrate emea
  .circleci/continue-config.yml
  emea-eks/data.tf
  emea-eks/main.tf
  emea-eks/outputs.tf
  emea-eks/providers.tf
  emea-eks/versions.tf
Due: emea-eks

migrate emea
  .circleci/continue-config.yml
Due: none

migrate emea trigger global
  global/global.txt
Due: global

migrate emea trigger global
  .circleci/continue-config.yml
  global/global.txt
Due: global

migrate emea platforms trigger global
  .circleci/continue-config.yml
  emea-platforms/data.tf
  emea-platforms/main.tf
  emea-platforms/outputs.tf
  emea-platforms/providers.tf
  emea-platforms/variables.tf
  emea-platforms/versions.tf
  global/global.txt
Due: global, emea-platforms

trigger global
  .circleci/continue-config.yml
  global/global.txt
Due: global

trigger global with workspace attached for emea plan
  .circleci/continue-config.yml
  global/global.txt
Due: global

trigger global with workspace attached for emea plan
  .circleci/config.yml
  global/global.txt
Due: global

trigger global with workspace attached for emea plan + workspace attached
  .circleci/continue-config.yml
  global/global.txt
Due: global

use root as workspace
  .circleci/continue-config.yml
  global/global.txt
Due: global

pass workspace along
  .circleci/continue-config.yml
  global/global.txt
Due: global

execute emea platforms
  emea-platforms/data.tf
  emea-platforms/emea-platforms.txt
  emea-platforms/main.tf
  emea-platforms/providers.tf
Due: emea-platforms

execute emea platforms + context
  emea-platforms/emea-platforms.txt
Due: emea-platforms

add contexts to correct workflow :D
  emea-platforms/emea-platforms.txt
Due: emea-platforms

EMEA platforms with contexts and japac now that kms alias deleted
  .circleci/continue-config.yml
  global/global.txt
Due: global

EMEA platforms with contexts and japac now that kms alias deleted - remove context with no access
  .circleci/continue-config.yml
  global/global.txt
Due: global

trigger apply on EMEA + JAPAC
  .circleci/continue-config.yml
  global/global.txt
Due: global

Japac EKS triggered with updated helm_istio
  .circleci/continue-config.yml
  japac-eks/main.tf
Due: japac-eks

Japac EKS triggered with updated helm_istio - fix typo
  .circleci/continue-config.yml
Due: none

Japac EKS triggered with updated helm_istio - fix typo
  japac-eks/japac.txt
Due: japac-eks

Update main.tf for longer wait on vault init
  japac-eks/main.tf
Due: japac-eks

clean for EMEA + JAPAC PR
  .circleci/continue-config.yml
Due: none

final run before PR for JAPAC and EMEA. Test Global -> JAPAC + Global -> EMEA run
  global/global.txt
Due: global

Update main.tf - Dr - demo ns
  japac-platforms/main.tf
Due: japac-platforms

Update continue-config.yml - fix context location
  .circleci/continue-config.yml
Due: none

Update README.md
  japac-platforms/README.md
Due: japac-platforms

Path conditions:
  global: any of: global/.*
  namer-eks: any of: namer-eks/.*
  emea-eks: any of: emea-eks/.*
  japac-eks: any of: japac-eks/.*
  namer-platforms: any of: namer-platforms/.*
  emea-platforms: any of: emea-platforms/.*
  japac-platforms: any of: japac-platforms/.*
