Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global, namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

Updating vault module for EMEA to 1.5.1 to deploy new GHA actions ODIC creds/roles
  emea-platforms/main.tf
Due: emea-platforms

remove cloudwatch logging + trigger global
  global/README.md
Due: global

remove cloudwatch logging + trigger global with new kuma release
  global/main.tf
Due: global

Bump emea platform to use SE-292 nexus changes
  emea-platforms/main.tf
Due: emea-platforms

SE-292 fix nexus provider conflict
  emea-platforms/main.tf
  emea-platforms/providers.tf
  emea-platforms/versions.tf
Due: emea-platforms

tf fmt
  emea-platforms/providers.tf
  emea-platforms/versions.tf
Due: emea-platforms

change docker name
  emea-platforms/main.tf
Due: emea-platforms

try ti fix realm error
  emea-platforms/main.tf
Due: emea-platforms

always run groovy
  emea-platforms/main.tf
Due: emea-platforms

stop using really outdated TF version
  .circleci/continue-config.yml
Due: none

bump japac for giggles (unused)
  japac-platforms/main.tf
Due: japac-platforms

bump japac for giggles (unused)
  japac-platforms/versions.tf
  namer-platforms/versions.tf
Due: namer-platforms, japac-platforms

bump japac for giggles (unused)
  japac-platforms/versions.tf
Due: japac-platforms

tf format and align versions across regions
  namer-platforms/main.tf
  namer-platforms/versions.tf
Due: namer-platforms

nexus 20g volume
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

add expandable storage to emeaandjapac
  emea-platforms/main.tf
  japac-platforms/main.tf
Due: emea-platforms, japac-platforms

fix permission issues
  emea-platforms/main.tf
  japac-platforms/main.tf
Due: emea-platforms, japac-platforms

catchup namer
  namer-platforms/main.tf
Due: namer-platforms

Feature se 292 - nexus cleanup policies (#7)
  .circleci/continue-config.yml
  emea-platforms/main.tf
  emea-platforms/providers.tf
  emea-platforms/versions.tf
  japac-platforms/main.tf
  japac-platforms/versions.tf
  namer-platforms/main.tf
  namer-platforms/versions.tf
Due: namer-platforms, emea-platforms, japac-platforms

Eddies demo e2e new app space
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

eddies demo, release agent spaces
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

bump to latest app version 1.6.4
  emea-platforms/main.tf
Due: emea-platforms

expose dashboard in EMEA
  emea-platforms/main.tf
Due: emea-platforms

clearing release history for JAPAC
  japac-platforms/README.md
Due: japac-platforms

Bumping release agent chart version
  japac-platforms/main.tf
Due: japac-platforms

rev rleease agentin japac first
  japac-platforms/main.tf
Due: japac-platforms

proceed with EMEA
  emea-platforms/main.tf
Due: emea-platforms

proceed with NAMER, boa and dr-demo passing other regions
  namer-platforms/main.tf
Due: namer-platforms

Release Agent 1.0.0 (Chart v1.0.1) (#8)
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

Rev japac to use 1.0.1 which fixes tag version
  japac-platforms/main.tf
Due: japac-platforms

rollout to emea deploy japac
  emea-platforms/main.tf
Due: emea-platforms

finish in namer
  namer-platforms/main.tf
Due: namer-platforms

Rev japac to use 1.0.1 which fixes tag version (#9)
  emea-platforms/main.tf
  japac-platforms/main.tf
  namer-platforms/main.tf
Due: namer-platforms, emea-platforms, japac-platforms

FE-28 in Japac:30d ssl renewal
  japac-eks/main.tf
Due: japac-eks

Path conditions:
  global: any of: global/.*
  namer-eks: any of: namer-eks/.*
  emea-eks: any of: emea-eks/.*
  japac-eks: any of: japac-eks/.*
  namer-platforms: any of: namer-platforms/.*
  emea-platforms: any of: emea-platforms/.*
  japac-platforms: any of: japac-platforms/.*
