Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global, namer-eks, emea-eks, japac-eks, namer-platforms, emea-platforms, japac-platforms

fix config.tyml
  .circleci/continue-config.yml
  global/terraform.tfvars
Due: global

fix config.tyml
  .circleci/continue-config.yml
Due: none

expose envvars alternate from bash_env
  .circleci/continue-config.yml
Due: none

workspace fix
  .circleci/continue-config.yml
Due: none

docs. [skipci] [skip ci]
  FORKING.md
  README.md
  global/templates/README.md
Due: global

Update terraform.tfvars
  global/terraform.tfvars
Due: global

Update main.tf
  namer-eks/main.tf
Due: namer-eks

docs. [skipci] [skip ci]
  global/templates/README.md
Due: global

istio 2.4.0: use right domain
  namer-eks/main.tf
Due: namer-eks

fix fidleguide domain istio 2.4.1
  namer-eks/main.tf
Due: namer-eks

fix fidleguide domain istio 2.4.2
  namer-eks/main.tf
Due: namer-eks

fueidlguide prod vs fix
  namer-eks/main.tf
Due: namer-eks

try wildcard istio
  namer-eks/main.tf
Due: namer-eks

Update main.tf
  namer-platforms/main.tf
Due: namer-platforms

tweak tags
  global/variables.tf
  namer-eks/main.tf
Due: global, namer-eks

tweak tags
  global/variables.tf
Due: global

InfraTags: Team is capital. But only Team.
  global/variables.tf
Due: global

use vaults own gp2
  global/main.tf
  namer-eks/main.tf
Due: global, namer-eks

do not create duplicate policy
  global/main.tf
Due: global

pass only region name to vault
  namer-eks/main.tf
Due: namer-eks

force existing appspaces to push sectets to new vault
  namer-platforms/main.tf
Due: namer-platforms

fix vault version (new gp2 workign)
  namer-eks/main.tf
Due: namer-eks

remove app change, just remove stte manuall
  namer-platforms/main.tf
Due: namer-platforms

update optimization_opt_in tag per cloud economics request
  global/variables.tf
Due: global

nexus pvc pinned to az b
  namer-eks/main.tf
Due: namer-eks

appspaces 2.0.0 drops boa
  namer-platforms/main.tf
Due: namer-platforms

delete all appspaces
  namer-platforms/main.tf
Due: namer-platforms

appspaces 3.0.0 should have been a patch to 2.0.0 :)
  namer-platforms/main.tf
Due: namer-platforms

tet run single value matrix
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

config changes run all, remove unused orbs
  .circleci/config.yml
Due: none

config changes run all, fix global dependency
  .circleci/continue-config.yml
Due: none

run matrix against context with namer only
  .circleci/continue-config.yml
  global/data.tf
  global/main.tf
  global/providers.tf
  global/templates/operator_role_policy.json.tpl
  global/templates/pipeline_role_policy.json.tpl
  global/variables.tf
  namer-eks/data.tf
  namer-eks/main.tf
  namer-eks/outputs.tf
  namer-eks/providers.tf
  namer-platforms/data.tf
  namer-platforms/main.tf
  namer-platforms/outputs.tf
  namer-platforms/providers.tf
  namer-platforms/variables.tf
Due: global, namer-eks, namer-platforms

creative means for dynamic provider
  .circleci/continue-config.yml
  global/providers.tf
  global/variables.tf
  namer-eks/data.tf
  namer-eks/providers.tf
  namer-platforms/data.tf
  namer-platforms/providers.tf
  namer-platforms/variables.tf
Due: global, namer-eks, namer-platforms

missed file
  namer-eks/variables.tf
Due: namer-eks

expand magc provider for data fgile
  .circleci/continue-config.yml
  namer-eks/providers.tf
  namer-platforms/data.tf
  namer-platforms/providers.tf
Due: namer-eks, namer-platforms

Path conditions:
  global: any of: global/.*
  namer-eks: any of: namer-eks/.*
  emea-eks: any of: emea-eks/.*
  japac-eks: any of: japac-eks/.*
  namer-platforms: any of: namer-platforms/.*
  emea-platforms: any of: emea-platforms/.*
  japac-platforms: any of: japac-platforms/.*
