Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global-changed, iaas-changed, platforms-changed

authentik 1.0.5
  namer-platforms/main.tf
Due: platforms-changed

Authentikconfig (#27)[skip ci]
  namer-platforms/main.tf
Due: platforms-changed

namespac and policy for training
  namer-platforms/main.tf
Due: platforms-changed

fix bad expression
  namer-platforms/main.tf
Due: platforms-changed

Adds new training NS, with policies, and fixes bug from Authentik module (#28)
  namer-platforms/main.tf
Due: platforms-changed

vault config: fix training project id
  namer-platforms/main.tf
Due: platforms-changed

add training NS to monitored releases
  namer-platforms/main.tf
Due: platforms-changed

Bumping release agent version to 1.3.4 aka 1.40 of our module
  namer-platforms/main.tf
Due: platforms-changed

Bumping release agent version to 1.3.4 aka 1.40 of our module for dev
  namer-platforms/main.tf
Due: platforms-changed

rev vault and appspaces for circle-shop
  namer-platforms/main.tf
Due: platforms-changed

try awesomecicd-deploybot ssh key
  .circleci/continue-config.yml
Due: none

update readme
  README.md
Due: none

rev vault and appspaces for circle-shop (#29)
  .circleci/continue-config.yml
  README.md
  namer-platforms/main.tf
Due: platforms-changed

add circle-shop namespaces
  namer-platforms/main.tf
Due: platforms-changed

tffmt
  namer-platforms/main.tf
Due: platforms-changed

Circle shop release (#30)
  namer-platforms/main.tf
Due: platforms-changed

namer only, new prom deploy
  .circleci/continue-config.yml
  namer-eks/main.tf
Due: iaas-changed

rev istio to 9.0.0 and add emea back. See istio AwesomeCICD/ceratf-module-helm-istio#27
  .circleci/continue-config.yml
  namer-eks/main.tf
Due: iaas-changed

Prometheus reduction (#31)
  .circleci/continue-config.yml
  namer-eks/main.tf
Due: iaas-changed

create new FE Utilities namespace
  namer-platforms/main.tf
Due: platforms-changed

rev path filtering orb
  .circleci/config.yml
Due: none

override bad version of python, what a S### orb
  .circleci/config.yml
Due: none

create new FE Utilities namespace and fix filtering orb(#32)
  .circleci/config.yml
  namer-platforms/main.tf
Due: platforms-changed

BREAKING CHANGE: Rev nexus to v10.0.0 with dedicated blob storage
  namer-platforms/main.tf
Due: platforms-changed

patch nexus config to ensure main virtual service is created
  namer-platforms/main.tf
Due: platforms-changed

BREAKING CHANGE: Rev nexus to v10.0.1 with dedicated blob storage (#33)
  namer-platforms/main.tf
Due: platforms-changed

tests kiali 2.10 branch in namer only
  .circleci/continue-config.yml
  namer-eks/main.tf
Due: iaas-changed

use released 10.0.0 of istio module and apply to both clusters
  .circleci/continue-config.yml
  namer-eks/main.tf
Due: iaas-changed

tests kiali 2.10 branch in namer only (#34)
  namer-eks/main.tf
Due: iaas-changed

[semver:minor] include istio 10.1.0 for token secured kiali
  README.md
  namer-eks/main.tf
Due: iaas-changed

[semver:minor] include istio 10.1.0 for token secured kiali (#35)
  README.md
  namer-eks/main.tf
Due: iaas-changed

feat: update authentik tag to pull newest manifest
  .circleci/config.yml
  .circleci/continue-config.yml
  namer-platforms/main.tf
Due: platforms-changed

fix: revert orb updates to ensure stability
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

Fe 174 update authentik (#36) FE-174
  .circleci/config.yml
  .circleci/continue-config.yml
  namer-platforms/main.tf
Due: platforms-changed

FE-336 Update Authentik tag version
  namer-platforms/main.tf
Due: platforms-changed

FE-336 Authentik version bump
  namer-platforms/main.tf
Due: platforms-changed

add grafana module to deployment
  namer-platforms/main.tf
  namer-platforms/outputs.tf
Due: platforms-changed

Path conditions:
  global-changed: any of: global/.*
  iaas-changed: any of: namer-eks/.*
  platforms-changed: any of: namer-platforms/.*
