Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global-changed, iaas-changed, platforms-changed

expand magc provider for data fgile
  .circleci/continue-config.yml
Due: none

add regionalize after checkout
  .circleci/continue-config.yml
Due: none

add EMEA
  .circleci/continue-config.yml
Due: none

only replace region on provider
  .circleci/continue-config.yml
  namer-eks/data.tf
  namer-platforms/data.tf
Due: iaas-changed, platforms-changed

only replace region on provider
  .circleci/continue-config.yml
Due: none

only replace region on provider
  .circleci/continue-config.yml
  namer-eks/providers.tf
  namer-platforms/data.tf
  namer-platforms/providers.tf
Due: iaas-changed, platforms-changed

rev eks and nexus to move storageclass
  .circleci/continue-config.yml
  namer-eks/main.tf
  namer-platforms/main.tf
Due: iaas-changed, platforms-changed

nexus 7.0.1 fix aws region access
  namer-platforms/main.tf
Due: platforms-changed

fix missing access for pipeline on new cluster
  namer-eks/main.tf
Due: iaas-changed

yolo
  namer-eks/main.tf
Due: iaas-changed

create default gp2
  namer-eks/main.tf
Due: iaas-changed

eks 7.2.0 with 2 subnets to ensure pvc clais on a,b hit
  namer-eks/main.tf
Due: iaas-changed

Add EMEA via matrix (#17)
  .circleci/config.yml
  .circleci/continue-config.yml
  global/data.tf
  global/main.tf
  global/templates/operator_role_policy.json.tpl
  global/templates/pipeline_role_policy.json.tpl
  global/variables.tf
  namer-eks/main.tf
  namer-eks/outputs.tf
  namer-eks/providers.tf
  namer-eks/variables.tf
  namer-platforms/data.tf
  namer-platforms/main.tf
  namer-platforms/outputs.tf
  namer-platforms/providers.tf
  namer-platforms/variables.tf
Due: global-changed, iaas-changed, platforms-changed

remove namer (keep safe)
  .circleci/continue-config.yml
Due: none

Move vault VS with istio 3.0.0 and vault 3.0.0
  namer-eks/main.tf
Due: iaas-changed

fix bad context ask
  .circleci/continue-config.yml
Due: none

vault 3.0.1 emea
  namer-eks/main.tf
Due: iaas-changed

nexus 8.0 in emea (self vs)
  namer-platforms/main.tf
Due: platforms-changed

nexus routes
  namer-platforms/main.tf
Due: platforms-changed

nexus 9 own gatweway and cert for docker subdomain
  namer-platforms/main.tf
Due: platforms-changed

re-add NAMER
  .circleci/continue-config.yml
Due: none

drop dev gateway
  namer-eks/main.tf
Due: iaas-changed

try to fix miussing istio confiug in kiali
  namer-eks/main.tf
Due: iaas-changed

istio 4.0, remove region from fg gateway
  namer-eks/main.tf
Due: iaas-changed

istio 4.1 restricts subdomain gw to cetain ns
  namer-eks/main.tf
Due: iaas-changed

nexus 10 moves gateway to nexus ns
  namer-platforms/main.tf
Due: platforms-changed

revert nexus gateway to istio ns, vs stay with nexus
  namer-eks/main.tf
  namer-platforms/main.tf
Due: iaas-changed, platforms-changed

nexus 9.0.1
  namer-platforms/main.tf
Due: platforms-changed

nexus module 9.0.2
  namer-platforms/main.tf
Due: platforms-changed

rev istio to fix field guide dev
  namer-eks/main.tf
Due: iaas-changed

ff
  namer-eks/main.tf
Due: iaas-changed

allow any ns to use subdomain
  namer-eks/main.tf
Due: iaas-changed

istio 5, try to fkix kiali access to sitio config
  namer-eks/main.tf
Due: iaas-changed

Path conditions:
  global-changed: any of: global/.*
  iaas-changed: any of: namer-eks/.*
  platforms-changed: any of: namer-platforms/.*
