Repository AwesomeCICD/ceratf-deployment-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: global-changed, iaas-changed, platforms-changed

.circleci/config.yml:

version: 2.1

setup: << pipeline.parameters.run-setup-workflow >>

orbs:
  path-filtering: circleci/path-filtering@2.0.0

parameters:
  run-setup-workflow:
    type: boolean
    default: true

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/continue-config.yml
          tag: "3.9"
          mapping: |
            global/.* global-changed true
            .circleci/.* global-changed true
            namer-eks/.* iaas-changed true
            namer-platforms/.* platforms-changed true

Adding cargurus namespace
  global/outputs.tf
  global/variables.tf
  namer-platforms/main.tf
Due: global-changed, platforms-changed

Fix EKS cluster version drift (1.30 -> 1.32)
  namer-eks/main.tf
Due: iaas-changed

Temporarily skip EMEA deployment (node upgrade stuck)
  .circleci/continue-config.yml
Due: global-changed

Force global layer to re-run for AWS Partner Product ID tag
  global/variables.tf
Due: global-changed

Add AWS Partner Product ID tag to NAMER EKS cluster
  namer-eks/main.tf
  namer-eks/variables.tf
Due: iaas-changed

Fix trailing whitespace in namer-eks/main.tf
  namer-eks/main.tf
Due: iaas-changed

rename cargurus-demo-dev namespace to cargurus-prod
  namer-platforms/main.tf
Due: platforms-changed

Add cargurus-prod to production release agent managed namespaces
  namer-platforms/main.tf
Due: platforms-changed

Add dedicated Release Agent for CarGurus Multi-Repo
  namer-platforms/main.tf
  namer-platforms/variables.tf
Due: platforms-changed

chore: trigger rebuild to apply AWS partner product ID tag
  global/variables.tf
Due: global-changed

fix: update EKS cluster version to 1.32 to match current state
  namer-eks/main.tf
Due: iaas-changed

chore: update critical_until tag to 2026 and trigger global apply for partner product ID tag
  global/variables.tf
Due: global-changed

Add AWS Partner Product ID tag for revenue recognition
  global/terraform.tfvars
Due: global-changed

Mark common_tags output as sensitive
  global/outputs.tf
Due: global-changed

Change tag key from aws:partner:product to partner-product-id
  global/outputs.tf
Due: global-changed

add grafana module to deployment update issue
  namer-platforms/main.tf
Due: platforms-changed

bump grafana
  namer-platforms/main.tf
Due: platforms-changed

clean up providers
  namer-platforms/main.tf
Due: platforms-changed

add new release name
  namer-platforms/main.tf
Due: platforms-changed

Add S3 bucket for CircleCI audit log streaming
  global/main.tf
  global/outputs.tf
  global/templates/pipeline_role_policy.json.tpl
  global/variables.tf
Due: global-changed

Add standalone PostgreSQL for CI/CD usage data dashboard
  namer-platforms/main.tf
  namer-platforms/outputs.tf
Due: platforms-changed

Fix Postgres deploy timeout: increase to 600s, use latest image tag
  namer-platforms/main.tf
Due: platforms-changed

Add Postgres datasource and CI/CD dashboard to Grafana
  namer-platforms/files/circleci-platform-health.json
  namer-platforms/main.tf
Due: platforms-changed

Replace nginx Ingress with Istio VirtualService for Grafana
  namer-platforms/main.tf
Due: platforms-changed

Add Grafana host to Istio subdomains gateway via Terraform
  namer-platforms/main.tf
Due: platforms-changed

Fix datasource UID mismatch: set explicit uid on Postgres datasource
  namer-platforms/main.tf
Due: platforms-changed

Update dashboard JSON to use provisioned datasource UID
  namer-platforms/files/circleci-platform-health.json
Due: platforms-changed

Replace do_nothing job with native no-op type
  .circleci/continue-config.yml
Due: global-changed

Pin nexus provider to 2.3.0 to fix Empty Summary bug
  namer-platforms/versions.tf
Due: platforms-changed

Fix Grafana 12 PostgreSQL datasource configuration
  namer-platforms/main.tf
Due: platforms-changed

Update audit log dashboard panels
  namer-platforms/files/circleci-platform-health.json
Due: platforms-changed

continue config
  .circleci/continue-config.yml
Due: global-changed
